.power
{
    font-size:24px;
}
.power div
{
    display:flex;
    width: 60%;
}
.power label
{
    width:300px;
}
.power input
{
    width:30%;
    text-align:center;
}
.power h3
{
    margin-top:16px;
    font-size:48px;
}
